#header {
    background: #365B6D;
    color: white;
    padding: 3px 40px 25px;
}

.login #header {
    height: auto;
    padding: 2px 0px 25px 0px;
    justify-content: center;
}

#branding h1 {
    color: white;
}

div.breadcrumbs {
    background: #2BBBAD;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2BBBAD;
}

.module caption, .inline-group h2 {
    background: #2BBBAD;
}

.module h2 {
    background: #2BBBAD;
}