{% extends 'base.html' %}

{% block content %}

    <main>
        <div class="container-fluid mt-5 pt-1"><!--style="background-color: lightgray;-->

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark lighten-3 mb-5 mt-3" style="background-color: #F46977;">

            <!-- Navbar brand -->
            <span class="navbar-brand">Categories:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/home">All
                    <span class="sr-only">(current)</span>
                </a>
                </li>
                {% for category in all_categories %}
                <li class="nav-item">
                <a class="nav-link" href="/category/{{category.id}}">{{category.name}}</a>
                </li>
                {% endfor %}

            </ul>
            <!-- Links -->

            <form class="form-inline" action="/search">
                <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
                </div>
            </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">
            {% for item in this_category.items.all %}
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!--Card-->
                <div>
                <div class="view overlay">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="product_image">
                    <a href="{{ item.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    {% endif %}
                </div>
                <!--Card image-->
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5 class="grey-text">{{ item.get_category_display}}</h5>
                    </a>
                    <h5>
                    <strong>
                        <a href="{{ item.get_absolute_url }}" class="white-text">{{ item.item_name }}
                        </a>
                    </strong>
                    </h5>

                    <h4 class="font-weight-bold text-default">
                    <strong>$
                    {% if item.discount_price %}
                    {{ item.discount_price|floatformat:2 }}
                    {% else %}
                    {{ item.price|floatformat:2 }}
                    {% endif %}
                    </strong>
                    </h4>

                </div>
                <!--Card content-->

                </div>
                <!--Card-->

            </div>
            <!--Grid column-->

            {% endfor %}
            

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->
        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn text-white">
            <ul class="pagination">

            <!--Arrow left-->
            {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link text-white" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-white" href="?page={{page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}
        <!--Pagination-->

        </div>
    </main>
    <!--Main layout-->

{% endblock content %}