{% extends 'base.html' %}

{% block content %}
<style>
    #intro {
        background-image: url("../static/img/hbc_pics/promo_pics/thelma_and_louise.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding-bottom: 50%;
        }
    h5 {
        font-family: 'Courgette', cursive;
        font-size: 21px
    }
        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
        #intro {
            margin-top: -58.59px;
        }
        }
    h2, h6   {
        text-align: center;
        color: white;
    }
    h6  {
        margin: 0px 100px;
    }
    h2  {
        font-family: 'Courgette', cursive;
    }
    </style>
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong mt-4">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
            <h5 class="m-2">Welcome to my shop! A small business boutique bringing you the most adorable handmade bows, baby clothes, tees, earrings, and more- There's something for everyone! Please let me know what I can customize for you- Thank you!</h5>
            <a class="btn btn-outline-light btn-lg m-2" href="/home" role="button"
                rel="nofollow" target="_blank">Shop Now</a>
            <a class="btn btn-outline-light btn-lg m-2" href="#story" role="button"
                rel="nofollow" target="_blank">Our Story</a>
            <a class="btn btn-outline-light btn-lg m-2" href="#contact" role="button"
                rel="nofollow" target="_blank">Contact Us</a>
            </div>
        </div>
        </div>
    </div>
    <!-- Background image -->
    <!-- About Section-->
    <section id="story">
        <div>
            <h2 class="mt-3">Our Story</h2>
            <h6>Thank you for visiting my shop. My name is Toni and I am a stay at home mom of 3 beautiful little blessings. I make everything in my shop by hand. I started this shop to help supplement my families income and because I love crafting. DIY projects and crafting are my relaxation time. I try my best to keep this website up to date. I like to create new things, so when I run out of an item, it usually does not return unless there is a high demand for it. I absolutely love creating things and serving others. If there is a problem with any of your orders, I will do my best to accommodate. Customer service is my top priority.  I love what I do and I am so incredibly thankful that you are here. I know there are MANY different places you could shop, so I am so grateful for your support.</h6>
        </div>
    </section>
    <hr>
    <!--Contact Section-->
    <section id="contact" class="mt-4">
        <div>
            <h2>Contact Us</h2>
            <h6>toni.marable789@gmail.com</h6>
            <h6> Whether you need customizations for your order, have an issue with an order, or are a shop/boutique owner and are interested in wholesale, please email me- I would love to chat with you.</h6>
        </div>
    </section>

{% endblock content %}